/*

Guia de colores a usar:
- rosa fondo calculadora: #fdcae1
- turquesa complementario: #cafde6 (visor? fondo?)
- botones numeros: #ffe1ee
- botones operadores: #edbad1
- botones borrar: #cd9cb2

*/

body {
    background-color: black;
}
h1 {
    color: white;
    font-weight: 400;
    text-align: center;
    font-family: 'Lucida Sans';
}
.contenedor {
    width: 100%;
    justify-content: center;
    display: flex;
}


/* flex y alineaciones */
.flex_horizontal_center {
    display: flex;
    align-items: center;
}
.vertical_center {
    justify-content: center;
}
.direction_column {
    flex-direction: column;
}
.direction_row {
    flex-direction: row;
}


/* bordes */
.bordes_redondeados {
    border-radius: 50px;
}


/* backgrounds */
.background_calculadora {
    background-color: #fdcae1;
}
.background_visor {
    background-color: #cafde6;
}

/* tamanios */
.tamanio_calculadora {
    width: 400px;
    height: 620px;
}
.tamanio_visor {
    height: 10%;
}
.width_divs_dentro_calculadora {
    width: 90%;
}

.texto_visor {
    font-size: 40px;
    margin: 2px 15px 2px 15px;
    text-align: right;
}