h1 {
    color: #bae8e8;
}
h2 {
    color: #7f5af0;
}
#titulo_antecedentes {
    color: #faae2b;
}
#titulo_siglo {
    color: #fa5246;
}
#titulo_primeras_vanguardias {
    color: #ffa8ba;
}
.parrafo {
    color: #e53170;
}
.negrita_diseño_grafico {
    color: #2cb67d;
}